* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Piazzolla', serif;
    font-size: 18px;
    background-color: rgb(173, 236, 236);
    font-weight: 300;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 30px;
}

.content h2 {
    cursor: pointer;
    font-size: 35px;
    font-weight: 800;
}

.popup {
    position: absolute;
    top: 30%;
    left: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    transform: translate(-50%,-20px);
    opacity: 0;
    pointer-events: none;
}

.popup.active {
    animation: popup 1s ease-in-out forwards;
}

@keyframes popup {
    0%{
        opacity: 0;
        pointer-events: none;
    }
    40%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%,0px);
    }
    80%{
        opacity: 1;
        pointer-events: auto;
        transform: translate(-50%,0px);
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}